* {
    margin: 0px auto;
    text-decoration: none;
    list-style: none;
}
.header {
    position: relative; top: 20px;
    background-color: aqua;
    width: 1240px;
}
.category {
    display: flex;
    width: 700px;
    margin-right: 0px;
}
ul.web {
    display: none;
}
.category li a.webpractice {
        &:hover {
            ul.web {
                display: block;
            }
        }
        
}