* {
    margin: 0px auto;
    text-decoration: none;
    list-style: none;
}
.header {
    height: 100px; 
    h1 {
        line-height: 100px;
        background-color: aqua; color: white;
        text-align: center; font-family: "Comic Sans MS", cursive, sans-serif;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px  1px 0 black, 1px  1px 0 black;
    }
}
div.leftside {
    float: left;
    width: 170px; height: 100%; background-color: #4e1212;
}
div.category {
    width: 150px; height: auto; background-color: rgb(200, 172, 226);
    border-radius: 50px;
    margin: 0px; padding: 20px 10px;
    h3 {
        display: flex; padding: 5px;
        img {
            width: 30px; height: 30px; margin: 0px;
        }
    }
    ul.category {
        li {
            padding: 5px 0px;
            &:hover {
                color: brown;
                cursor: url(./img/cursor.png), auto;
            }
        }
    }
}
